@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import '@/assets/fonts/font.css';

body
{
	scrollbar-gutter: stable;
}

::-webkit-scrollbar
{
	background: transparent;
	width: 8px;
	border-radius: 100vh;
}

:is(:not(body)):hover::-webkit-scrollbar-thumb
{
	background: var(--orange-25);
	border-radius: 100vh;
}

:is(:not(body)):hover::-webkit-scrollbar-thumb:hover
{
	background: var(--orange-50);
	border-radius: 100vh;
}

body:hover::-webkit-scrollbar-thumb
{
	background: var(--orange-25);
	border-radius: 100vh;
}

body:hover::-webkit-scrollbar-thumb:hover
{
	background: var(--orange-50);
	border-radius: 100vh;
}

