:root
{
	line-height: 1.5;
	color-scheme: light dark;
	color: hsl(0, 0%, 90%);

	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Variable */
	--body-color: hsl(0, 0%, 16%);
	--text-color-dark: hsl(0, 0%, 16%);
	--text-color: hsl(0, 0%, 90%);
	--fancy-font: "Lostar";
	--accent-light-green: #75e494;
	--accent-main-purple: #b080ff;
	--accent-green: #00ff47;
	--accent-cyan: #32ffe6;
	--accent-blue: #3461d3;
	--accent-white: #d1d1d1;
	--accent-black-for-gradient: hsla(0, 0%, 11%, 0.9);
	--linear-gradient: linear-gradient(to top right,
			var(--accent-main-purple)15%,
			var(--accent-blue)35%,
			var(--accent-cyan)45%,
			var(--accent-light-green)50%,
			var(--accent-cyan)55%,
			var(--accent-blue)65%,
			var(--accent-main-purple)85%);
	--radial-gradient: radial-gradient(circle at center,
			var(--accent-main-purple),
			var(--accent-blue),
			var(--accent-cyan),
			var(--accent-light-green),
			var(--accent-green),
			var(--accent-light-green),
			var(--accent-cyan),
			var(--accent-blue),
			var(--accent-main-purple));
	--radial-gradient-blue: radial-gradient(circle at center,
			var(--accent-main-purple),
			var(--accent-blue),
			var(--accent-cyan),
			var(--accent-blue),
			var(--accent-main-purple));
	/* --noise-layer: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Cfilter id='noise' x='0%25' y='0%25' width='100%25' height='100%25'%3E%3CfeTurbulence baseFrequency='10 10' result='NOISE'/%3E%3C/filter%3E%3Crect x='0' y='0' width='100%25' height='100%25' filter='url(%23noise)'%3E%3C/rect%3E%3C/svg%3E"); */
	--noise-layer: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTAiIGhlaWdodD0iMjUwIj48ZmlsdGVyIGlkPSJub2lzZSIgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9IjIuMyIgLz48L2ZpbHRlcj48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWx0ZXI9InVybCgjbm9pc2UpIi8+PC9zdmc+");
	--noise-layer-event-bg: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTAiIGhlaWdodD0iMjUwIj48ZmlsdGVyIGlkPSJub2lzZSIgeD0iMCUiIHk9IjAlIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIj48ZmVUdXJidWxlbmNlIGJhc2VGcmVxdWVuY3k9IjIuMyIgdHlwZT0iZnJhY3RhbE5vaXNlIi8+PC9maWx0ZXI+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsdGVyPSJ1cmwoI25vaXNlKSIvPjwvc3ZnPg==");
	--gradient-overlay-black-level: 0.3;
	--gradient-overlay-black: linear-gradient(to right, hsla(0, 0%, 0%, var(--gradient-overlay-black-level)), hsla(0, 0%, 0%, var(--gradient-overlay-black-level)));

	--mini-font-size: clamp(0.65rem, 2vw, 0.85rem);
}

body
{
	margin: 0;
	background-color: var(--body-color);
	font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code
{
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* Box sizing rules */
*,
*::before,
*::after
{
	box-sizing: border-box;
	/* outline: 2px solid #00A10055; */
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd
{
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list']
{
	list-style: none;
}

/* Set core root defaults */
html
{
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}

/* Set core body defaults */
body
{
	min-height: 100vh;
	min-height: 100svh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class])
{
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture
{
	max-width: 100%;
	display: block;
	user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select
{
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce)
{
	html:focus-within
	{
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after
	{
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}